.about {
	padding-bottom: 2rem;

	&-bio-image {
		height: 55vh;
		width: 100%;
		background: linear-gradient(to right, rgba($primary-color, 0.3), rgba($primary-color, 0.6)),
			url("../img/DSCF39821112.JPG") center center;
		background-size: cover;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: flex-end;
		gap: 20px;
	}
	&-bio {
		width: 75%;
		margin-bottom: 30px;
		text-align: center;
		.text-secondary {
			padding-bottom: 1rem;
			font-size: 1.8rem;
		}
		p {
			font-size: 1.2rem;
		}
	}
	.activities {
		width: 60vw;
		margin: 2rem auto 0;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;

		&-school {
			background: linear-gradient(
				to left,
				rgba($primary-color, 1),
				rgba($secondary-color, 0.1)
			);
			padding: 0.5rem;
			border-bottom: 5px solid $secondary-color;
			border-radius: 5px;
		}
	}
}
